<!-- views/candidate_pages/editCandidate.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<!-- views/candidate_pages/editCandidate.ejs -->

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="container">
        <form method="POST" action=<%= '/candidates/candidate/' + userId + '/edit' %>>
            Enter bio:
            <textarea name="bio" style="width:200px; height:50px"></textarea><br>
            Enter platform
            <textarea name="platform" style="width:200px; height:50px"></textarea><br>
            <input type="submit" value="submit">
        </form>
        <br><br><br>
        <form action=<%= '/candidates/candidate/' + userId + '/addElection' %> method="POST">
            <div class="row">
                <select name="electionSelector" class="selectpicker" data-show-subtext="true" data-live-search="true">
                    <% for (var i in electionList) {%>
                        <option value="<%= i %>"><%= electionList[i].title %></option>
                    <% } %>
                </select>
            </div>
            <div class="row">
                <input type="submit" value="Add Election" class="btn btn-secondary btn-lg">
            </div>
        </form>
        <br><br><br>
    </div>
    <div class="container">
        <div class="row row-centered">
            <img src="/anna.jpg" class="img-circle" style="width: 150px; height: 150px;" alt=<%= data.name %> />
            <h2><%= data.name %></h2>
        </div>
        <div class="row row-centered">
            <h4>Bio</h4>
            <p><%= data.bio %></p>

        </div>
        <div class="row">
            <h4>Upcoming Elections</h4>
            <div class="list-group">
                <% for(var i in data.electionIds) { %>
                    <% console.log(i); %>
                    <a href="/election/<%= data.electionIds[i].title%>" class="list-group-item"><%= data.electionIds[i].title %></a>
                <% } %>
            </div>
        </div>
        <div class="row">
            <h4>Platform</h4>
            <p><%= data.platform %></p>
        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>