<!-- views/candidate_pages/viewCandidate.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/firebase_auth %>
    <script type="text/javascript">
    //   initApp = function() {
    //     console.log("AAAAAAAAAAAAAABBBBBBBBBBBBB")
    //     firebase.auth().onAuthStateChanged(function(user) {
    //       if (user) {
    //         var photoURL = user.photoURL;
    //         console.log("I have a photo url = " + photoURL);
    //         if (photoURL) {
    //             document.getElementById('profilePic') = photoURL;
    //         }
    //       } else {
    //         window.location.href = '/candidates/login'; // TODO change this to forbidden page
    //         // User is signed out.
    //         document.getElementById('sign-in-status').textContent = 'Signed out';
    //         document.getElementById('sign-in').textContent = 'Sign in';
    //         document.getElementById('account-details').textContent = 'null';
    //       }
    //     }, function(error) {
    //       console.log(error);
    //     });
    //   };

    //   window.addEventListener('load', function() {
    //     initApp();
    //   });
    </script>
    <% include ../partials/head %>
</head>
<body>

<!-- views/candidate_pages/editCandidate.ejs -->
<!-- todo: make sure that userid matches url -->

<header>
    <% include ../partials/header %>
</header>

<main class="container">
    <div class="container">
        <div class="row row-centered">
            <img id="profilePic" src="<%= photoURL %>" class="img-circle" style="width: 150px; height: 150px;" alt=<%= data.name %> />
            <h1><%= data.name %></h1>
        </div>

        <div class="row row-centered">
            <h4>Bio</h4>
            <p><%= data.bio %></p><br>
        </div>
        <div class="row row-centered">
            <h4>Platform</h4>
            <p><%= data.platform %></p><br>
        </div>
        <div class="row row-centered">
            <a href="<%= '/candidates/candidate/' + userId + '/edit' %>" class="btn btn-default btn-md">Edit bio/platform</a>
        </div>

        <div class="row">
            <h4>Upcoming Elections</h4>
            <div class="list-group">  
                <% if (!data.electionIds) {%>
                    <p>You have not registered for any elections (register below)</p>
                <% }%>

                <% for(var i in data.electionIds) { %>
                    <% console.log(i); %>
                    <a href="/election/<%= data.electionIds[i].title%>" class="list-group-item"><%= data.electionIds[i].title %></a>
                <% } %>
            </div>
        </div>
        <div class="row row row-centered">
            <form action=<%= '/candidates/candidate/' + userId + '/addElection' %> method="POST">
                <div class="row">
                    <select name="electionSelector" class="selectpicker" data-show-subtext="true" data-live-search="true">
                        <% for (var i in electionList) {%>
                            <option value="<%= i %>"><%= electionList[i].title %></option>
                        <% } %>
                    </select>
                    <input type="submit" value="Add Election" class="btn btn-default btn-md">
                </div>
            </form>
        </div>

    </div>
</main>

</body>
</html>