<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="container-fluid">
        <% console.log(data) %>
        <div class="row">
            <h1><%= data.title %></h1>
        </div>
        <div class="row">
            <p><%= "Election Level: " +data.level %></p>
            <p><%= "Election Type: " + data.type %></p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Election Dates</h2>
                <p>Add date to your Google Calendar</p>
                <div class="list-group">
                    <a href="/election/<%= data.title%>/actual" class="list-group-item"><i class="fa fa-calendar"></i><%= " Election Date " + data.date %></a>
                    <% for(var i in data.otherDates) { %>
                        <% console.log(i); %>
                        <a href="/election/<%= data.title%>/<%= i%>" class="list-group-item"><i class="fa fa-calendar"></i><%= " " + data.otherDates[i].kind + " " + data.otherDates[i].date_human_readable %></a>
                    <% } %>
                    </div>
            </div>
            <div class="col-md-6">
                <h2>Candidates</h2>
                <p>Select a candidate to view their platform</p>
                <div class="list-group">
                    <% for(var i in data.candidates) { %>
                        <% console.log(i); %>
                        <a href="/candidate/<%= i%>" class="list-group-item"><%= data.candidates[i] %></a>
                    <% } %>
                    </div>
            </div>
            <div class="col-md-6">
            </div>
        <div/>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>